
.card {
  cursor: pointer;
  position: relative;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: #000;
  opacity: 0.2;
}
  .card-img-overlay {
    z-index: 2;
  }
.card .card-text, .card .overlay {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.1s linear;
}
  .card:hover .card-text, .card:hover .overlay {
    visibility: visible;
    opacity: 1;
  }
    .card:hover .overlay {
      opacity: 0.3;
    }

header {
  width: 100%;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
  margin-bottom: 40px;
  padding: 10px;
}

/*loading spinner*/
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: inline-block;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
